<ion-content [fullscreen]="true">
  <div class="flex-center">

    <ion-card>
      <ion-card-header>
        <div class = "flex-center">
    <ion-card-title color="warning">Change password</ion-card-title>
  </div>    
  </ion-card-header>
       <ion-card-content>
   <ion-item>
    <ion-input type =password Label="Password" labelPlacement="floating" placeholder="Enter password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type = password label="Password" labelPlacement="floating" placeholder="Re-enter password"></ion-input>
  </ion-item>
  <ion-button size = "full" fill="solid" shape="round" color="warning" routerLink="/login">Change</ion-button>

</ion-card-content>
    </ion-card>

  </div>
</ion-content>