<ion-content [fullscreen]="true">
  <div class="flex-center">

    <ion-card>
      <ion-card-header>
        <div class="flex-center">
          <ion-card-title color="warning">CrossFit</ion-card-title>
        </div>    
      </ion-card-header>

      <ion-card-content>
       
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" ></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password" ></ion-input>
        </ion-item>

        
        <ion-button size="full" fill="clear" shape="round" color="warning" routerLink="/forgot-password">
          Forgot email/password
        </ion-button>

        
        <ion-button size="full" fill="solid" shape="round" color="warning" (click)="login()">
          LOGIN
        </ion-button>

        <ion-button size="full" fill="outline" shape="round" color="warning" routerLink="/register">
          Register
        </ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
